/* Estilos para o corpo da página */

body {
    background-color: #cdc9cb;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}


/* Estilos para cabeçalhos (h1, h2, etc.) */
h1 {
    background-image: linear-gradient(to right, #cf40a9, #694288);
    color: white; /* torna o texto dentro do h1 transparente para mostrar o gradiente por trás */
}


h2 {
    color: #555454;
}


h3 {
    text-align: left;
    color: #555454;
    font-weight: bold;
}


p {
    color: #555454;
}


/* Estilos para botões */
button {
    padding: 7px 10px;
    background-color: #694288;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}


button:hover {
    border-radius: 10px;
    background-color: #c73086;
}


/* Estilos para imagens de produtos */
img.produto-image {
    width: 100px;
    height: 100px;
    transition: transform 0.2s;
    border-radius: 15px;
}


.container {
    display: flex;
    justify-content: start;

  }

 

.me {
    margin-right: 100px;

}

 

/* Estilos para os contêineres de produtos */
.produto-container {
    width: auto;
    height: 110;
    color: #555454;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}


.texto-input {
    display: flex;
    align-items: center;
    width: 400px;
    height: 100px;
 

}

.produto-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
    float: left; /* Define a imagem como elemento flutuante à esquerda */
}

 

.produto-text {
    align-items: normal;
    margin-left: 20px; /* Espaçamento entre a imagem e o texto */
    margin-right: 20px;
}


.produto-preco {
    color: rgb(9, 172, 47);
    margin-left: 20px; /* Espaçamento entre a imagem e o texto */
}



.number-input {
    border-radius: 5px;
    width: 22px;
}



.logo {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
}



.pesquisa {
    text-align: right;
    color: #555454;
    font-weight: bold;
}



#pesquisa {
    border-radius: 5px;
}


 

.opc-1 {
    text-align: left;
    font-weight: bold;
}



.opc-2 {
    color: #555454;
    font-weight: bold;
}



.opc-3 {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555454;
    text-align: left;
    font-weight: bold;
}



.observation-input {
    border-radius: 5px;
    width: 300px; /* Largura desejada */
    height: 20px; /* Altura desejada */
}


.hidden-product {
    display: none;
}


#topButton {
    display: none; /* Oculta o botão inicialmente */
    position: fixed; /* Fixa o botão na tela */
    bottom: 40px; /* Define a distância do botão a partir do fundo */
    right: 30px; /* Define a distância do botão a partir da direita */
    padding: 5px 20px;
    background-color: #694288;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999; /* Certifica-se de que o botão apareça acima de outros elementos */

}

 

#topButton:hover {
    background-color: #c73086;
}


/* Estilize a tabela */
.mini-tabela {
    background-color: #694288;
    color: white;
    position: fixed; /* Fixa a tabela */
    top: 27%; /* Ajusta a posição verticalmente para o centro da página */
    right: 20px; /* Define uma distância da margem direita */
    transform: translate(0, -50%); /* Centraliza verticalmente */
    border-collapse: collapse;
    border-radius: 10%;
}



/* Estilize as células da tabela */
.mini-tabela th, .mini-tabela td {
    position: relative;
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    border-radius: 10%;
}

  /* Estilize o botão */
#mostrarEsconderBotao {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 2; /* Garante que o botão fique acima da tabela */
}
.escondida {
    display: none;
}
